.container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.pageItem {
    width: 1.4rem;
  height: 1.4rem;
  border: 0;
  border-radius: 50%;
  background: #7a57fd;
  font-size: 1rem;
  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.9);
  }
}